.header {
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.header a {
    padding: 0px 15px;
    color: white;
    font-size: 17px;
    text-decoration: none;
    font-family: lato;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.005em;
}

.header a:hover{
    color: yellow;
}